@model IEnumerable<Hotel_App.Models.Room>
@{
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Hotel</title>
</head>
<body>
<h3>Rooms</h3>
<table>
    <tr>
        <td>Number</td>
        <td>Type</td>
        <td>Price</td>
        <td>Cleanliness</td>
        <td>Occupation</td>
    </tr>
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.Number</td>
            <td>@room.RoomType</td>
            <td>@room.Price</td>
            <td>@room.IsClean</td>
            <td>@room.IsOccupied</td>
            <!--<td><a href="~/Home/Buy/>Купить</a></td>-->
        </tr>
    }
</table>
</body>
</html>